@model ChilliSoft_Assignment.Models.MeetingItem

@{
    ViewBag.Title = "Detail";
}

@functions{
    public List<ChilliSoft_Assignment.Models.MeetingItemStatus> GetStatusHistory(int id)
    {
        ChilliSoft_Assignment.Models.DataContext _context = new ChilliSoft_Assignment.Models.DataContext();

        var status = _context.MeetingItemStatuses.Where(x => x.ItemId == id).ToList();

        return status;
    }
}

<h2>Detail</h2>

<div class="jumbotron">
    <div class="form_container">
        <div>
            <h4 class="page-header">Meeting Item Details</h4>

            <table class="table table-responsive table-condensed">
                <tr>
                    <td>Name:</td>
                    <td style="text-align:left">@Html.DisplayFor(model => model.MeetingItemName)</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td style="text-align:left">@Html.DisplayFor(model => model.ItemDescription)</td>
                </tr>
                <tr style="background-color:lightyellow">
                    <td>Status History:</td>
                    <td style="text-align:left">
                        <ul>
                            @foreach (var status in GetStatusHistory(Model.ItemId))
                            {
                               <li>@status.Status</li>
                            }
                        </ul>

                    </td>
                </tr>

                <tr>
                    <td>Action By:</td>
                    <td style="text-align:left">@Html.DisplayFor(model => model.ActionBy)</td>
                </tr>

                <tr>
                    <td>Due Date:</td>
                    <td style="text-align:left">@Html.DisplayFor(model => model.DueDate)</td>
                </tr>

                <tr>
                    <td>Date Created:</td>
                    <td style="text-align:left">@Html.DisplayFor(model => model.DateCreated)</td>
                </tr>

            </table>
        </div>
        <p>
            @*<span class="btn btn-success btn-action"> @Html.ActionLink("Edit", "EditMeetingItems", new { id = Model.MeetingId })</span>*@
            <span class="btn btn-primary btn-action" onclick="history.back()">Back to List</span> 
        </p>
    </div>
</div>
